.choiceButton {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  align-items: center;
  border: none;
}

.choiceButton:focus {
  outline: none;
}

.activeChoice {
  background-color: goldenrod;
}
